/* ------------------------------------------------------------
   SORTING BUTTON - sizing
   ------------------------------------------------------------ */
.sort-button {
    width: 15px;
    height: 15px;
    cursor: pointer;
}