/* ========== PROFILE ========== */
.profile-table {
    table-layout: fixed;
}

.profile-key {
    width: 20%;
    min-width: 220px;
}

.profile-data {
    width: 60%;
}

.profile-edit {
    width: 20%;
}

.show-button-image {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.change-pw-card {
    width: fit-content;
}

.profile-height tr {
    height: 48px;        /* fixed height */
    max-height: 48px;    /* optional if rows could vary */
}

.profile-height td,
.profile-height th {
    height: 48px;
    max-height: 48px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
}