/* ========== PROFILE ========== */
.profile-table {
    table-layout: fixed;
}

.profile-key {
    width: 20%;
    min-width: 220px;
}

.profile-data {
    width: 60%;
}

.profile-edit {
    width: 20%;
}

.show-button-image {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.change-pw-card {
    width: fit-content;
}