/* ========== IMAGE BUTTON STYLING ========== */
.filter {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ========== PROMOTIONS TABLE STYLING ========== */
.promo-table-body {
    cursor: pointer;
}

/* ========== EDITING PROMOTION ========== */
.edit-table {
    table-layout: fixed;
}

.edit-key {
    width: 20%;
    min-width: 180px;
}

.edit-data {
    width: 60%;
}

.edit-buttons {
    width: 20%;
}
