/* ========== IMAGE BUTTON STYLING ========== */
.filter {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ========== PROMOTIONS TABLE STYLING ========== */
.promo-table-body {
    cursor: pointer;
}